<a href="https://colab.research.google.com/github/Sinchiguano/chicagoUniversity/blob/main/Lecture_1b_Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here we will explore the basics of Pandas with an example dataset from the Chicago Data Portal at https://data.cityofchicago.org. You should take some time to explore the portal and find your own datasets of interest to explore!

In [ ]:
import pandas as pd


# LINK FOR THE DATASET
# https://data.cityofchicago.org/Transportation/CTA-Ridership-L-Station-Entries-Daily-Totals/5neh-572f
# from google.colab import files
# import io


#IMPORTING THE FILE FROM MY GITHUT PERSONAL ACCOUNT
url = 'https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/Station_Entries_Daily_Totals.csv'
df = pd.read_csv(url)

BASIC EXPLORATIONS

In [ ]:
print(df.head(15))

# Weekday W
# Holidays A
# Weekends U

    station_id               stationname        date daytype  rides
0        41280            Jefferson Park  12/22/2017       W   6104
1        41000          Cermak-Chinatown  12/18/2017       W   3636
2        40280              Central-Lake  12/02/2017       A   1270
3        40140           Dempster-Skokie  12/19/2017       W   1759
4        40690                  Dempster  12/03/2017       U    499
5        41660                Lake/State  12/30/2017       A   8615
6        40180      Oak Park-Forest Park  12/17/2017       U    442
7        40250  Kedzie-Homan-Forest Park  12/02/2017       A   1353
8        40120               35th/Archer  12/07/2017       W   3353
9        41420        Addison-North Main  12/19/2017       W   6034
10       40270                      Main  12/16/2017       A    887
11       41450             Chicago/State  12/27/2017       W   9639
12       41210                Wellington  12/07/2017       W   3210
13       40010        Austin-Forest Park  12/03/2017       U    641
14       41160              Clinton-Lake  12/31/2017       U    621

In [ ]:
print(df.shape)

(1158456, 5)

In [ ]:
print(df.describe())
# Some basic statistics: There is a station with no rides (minimum is zero!). 
# Also, the station with the maximum number of rides appears to be about 10x the mean and median. 
#                                                          Let's have a look at what those stations are.

         station_id         rides
count  1.158456e+06  1.158456e+06
mean   4.076671e+04  3.041143e+03
std    4.491984e+02  3.108889e+03
min    4.001000e+04  0.000000e+00
25%    4.037000e+04  9.570000e+02
50%    4.076000e+04  1.990000e+03
75%    4.115000e+04  4.004000e+03
max    4.170000e+04  3.632300e+04

In [ ]:
print(df['stationname'].value_counts())

Racine                    8145
Montrose-Brown            8143
Western-Forest Park       8142
Monroe/Dearborn           8142
Montrose-O'Hare           8141
                          ...
Morgan-Lake               3987
Cermak-McCormick Place    3012
Washington/State          2953
Washington/Wabash         2069
Homan                       31
Name: stationname, Length: 148, dtype: int64

Selection Based on Conditionals

Let's see which stations have the most and fewest rides, overall, and for particular types of days.

In [ ]:
# Station with the most rides
mostRides=max(df['rides'])
print(mostRides)
print(type(mostRides))
print(df[df['rides']==mostRides])

36323
<class 'int'>
        station_id         stationname        date daytype  rides
912644       41320  Belmont-North Main  06/28/2015       U  36323

Station with the Least Rides

In [ ]:
leastRides=min(df['rides'])
print(leastRides)
print(type(leastRides))
print('--------------')
# print(df[df['rides']==leastRides])
print(df[df['rides']==leastRides].shape)

print('--------------')
print(df[df['rides']==leastRides].head(5))
# print(df[df['rides']==0].shape)

0
<class 'int'>
--------------
(13610, 5)
--------------
     station_id      stationname        date daytype  rides
23        40200  Randolph/Wabash  12/25/2017       U      0
110       40640   Madison/Wabash  12/05/2017       W      0
333       40640   Madison/Wabash  12/03/2017       U      0
354       40640   Madison/Wabash  12/11/2017       W      0
423       40640   Madison/Wabash  12/30/2017       A      0

Looks like a lot of weekends and holidays. We can group by columns and types to get a better understanding of what might be going on. We can count how many dates a station had zero rides in the dataset and sort these in descending order.

In [ ]:
zero = df[df['rides'] == 0]
zerogroup = zero.groupby(['stationname','daytype']).count()
newDf=zerogroup.sort_values(by=['date'],ascending=False)
print(newDf.head(5))

                          station_id  date  rides
stationname      daytype
Madison/Wabash   W               711   711    711
Washington/State W               516   516    516
Berwyn           W               504   504    504
Lawrence         W               504   504    504
Skokie           U               390   390    390