<a href="https://colab.research.google.com/github/Sinchiguano/chicagoUniversity/blob/main/linearModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from google.colab import files
import io
url = 'https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/prostate.csv'
df = pd.read_csv(url, sep='\t')
print(df.head(10))

   Unnamed: 0    lcavol   lweight  age      lbph  svi       lcp  gleason  \
0           1 -0.579818  2.769459   50 -1.386294    0 -1.386294        6
1           2 -0.994252  3.319626   58 -1.386294    0 -1.386294        6
2           3 -0.510826  2.691243   74 -1.386294    0 -1.386294        7
3           4 -1.203973  3.282789   58 -1.386294    0 -1.386294        6
4           5  0.751416  3.432373   62 -1.386294    0 -1.386294        6
5           6 -1.049822  3.228826   50 -1.386294    0 -1.386294        6
6           7  0.737164  3.473518   64  0.615186    0 -1.386294        6
7           8  0.693147  3.539509   58  1.536867    0 -1.386294        6
8           9 -0.776529  3.539509   47 -1.386294    0 -1.386294        6
9          10  0.223144  3.244544   63 -1.386294    0 -1.386294        6

   pgg45      lpsa train
0      0 -0.430783     T
1      0 -0.162519     T
2     20 -0.162519     T
3      0 -0.162519     T
4      0  0.371564     T
5      0  0.765468     T
6      0  0.765468     F
7      0  0.854415     T
8      0  1.047319     F
9      0  1.047319     F

In [7]:
df = df.drop(columns=['Unnamed: 0'])
df.head(5)

,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa,train
0,-0.579818,2.769459,50,-1.386294,0,-1.386294,6,0,-0.430783,T
1,-0.994252,3.319626,58,-1.386294,0,-1.386294,6,0,-0.162519,T
2,-0.510826,2.691243,74,-1.386294,0,-1.386294,7,20,-0.162519,T
3,-1.203973,3.282789,58,-1.386294,0,-1.386294,6,0,-0.162519,T
4,0.751416,3.432373,62,-1.386294,0,-1.386294,6,0,0.371564,T

In [9]:
df_train=df[df['train']=='T']
df_train=df[df['train']=='F']

,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa,train
6,0.737164,3.473518,64,0.615186,0,-1.386294,6,0,0.765468,F
8,-0.776529,3.539509,47,-1.386294,0,-1.386294,6,0,1.047319,F
9,0.223144,3.244544,63,-1.386294,0,-1.386294,6,0,1.047319,F
14,1.205971,3.442019,57,-1.386294,0,-0.430783,7,5,1.398717,F
21,2.059239,3.501043,60,1.474763,0,1.348073,7,20,1.658228,F
24,0.385262,3.667400,69,1.599388,0,-1.386294,6,0,1.731656,F
25,1.446919,3.124565,68,0.300105,0,-1.386294,6,0,1.766442,F
27,-0.400478,3.865979,67,1.816452,0,-1.386294,7,20,1.816452,F
31,0.182322,3.804438,65,1.704748,0,-1.386294,6,0,2.008214,F
33,0.009950,3.267666,54,-1.386294,0,-1.386294,6,0,2.021548,F
35,1.308333,4.119850,64,2.171337,0,-1.386294,7,5,2.085672,F
41,1.442202,3.682610,68,-1.386294,0,-1.386294,7,10,2.307573,F
43,1.771557,3.896909,61,-1.386294,0,0.810930,7,6,2.374906,F
47,1.163151,4.035125,68,1.713798,0,-0.430783,7,40,2.568788,F
48,1.745716,3.498022,43,-1.386294,0,-1.386294,6,0,2.591516,F
49,1.220830,3.568123,70,1.373716,0,-0.798508,6,0,2.591516,F
52,0.512824,3.633631,64,1.492904,0,0.048790,7,70,2.684440,F
53,2.127041,4.121473,68,1.766442,0,1.446919,7,40,2.691243,F
54,3.153590,3.516013,59,-1.386294,0,-1.386294,7,5,2.704711,F
56,0.974560,2.865054,47,-1.386294,0,0.500775,7,4,2.788093,F
61,1.997418,3.719651,63,1.619388,1,1.909542,7,40,2.853592,F
63,2.034706,3.917011,66,2.008214,1,2.110213,7,60,2.882004,F
64,2.073172,3.623007,64,-1.386294,0,-1.386294,6,0,2.882004,F
65,1.458615,3.836221,61,1.321756,0,-0.430783,7,20,2.887590,F
72,1.214913,3.825375,69,-1.386294,1,0.223144,7,20,3.056357,F
73,1.838961,3.236716,60,0.438255,1,1.178655,9,90,3.075006,F
79,2.779440,3.823192,63,-1.386294,0,0.371564,7,50,3.513037,F
83,2.677591,3.838376,65,1.115142,0,1.749200,9,70,3.570940,F
94,2.907447,3.396185,52,-1.386294,1,2.463853,7,10,5.143124,F
96,3.471966,3.974998,68,0.438255,1,2.904165,7,20,5.582932,F