<a href="https://colab.research.google.com/github/Sinchiguano/chicagoUniversity/blob/main/nonLinearDataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
from sklearn.linear_model import LinearRegression
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [45]:

# ctrl + / in order to comment
import pandas as pd
from google.colab import files
url = 'https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/salary_2015.csv'
df = pd.read_csv(url)
print(df.head(5))
print(df.dtypes)

   year  location       first        last                  title    gross  \
0  2015  Berkeley        ANNE       AABOE          BUS SYS ANL 4  124,454
1  2015  Berkeley       DAVID       AAKER         RECALL FACULTY    2,500
2  2015  Berkeley   ELIZABETH        ABEL                PROF-AY  138,775
3  2015  Berkeley      NORMAN  ABRAHAMSON  ADJ PROF-AY-1/9-B/E/E   19,668
4  2015  Berkeley     BARBARA      ABRAMS                PROF-AY  191,162

   regular overtime   other
0  124,454        0       0
1        0        0   2,500
2  138,775        0       0
3   19,668        0       0
4  169,862        0  21,300
year         int64
location    object
first       object
last        object
title       object
gross       object
regular     object
overtime    object
other       object
dtype: object

In [46]:
print(df.describe())
print(type(df))

           year
count  281514.0
mean     2015.0
std         0.0
min      2015.0
25%      2015.0
50%      2015.0
75%      2015.0
max      2015.0
<class 'pandas.core.frame.DataFrame'>

In [57]:
print(df.dtypes)
# print(df.head(2))
#LOAD AND EXPLORE DE DATA
df['gross'] = df['gross'].str.replace(',', '')
df['gross']=df['gross'].astype(int)
print(df.dtypes)
# print(df.head(2))

year         int64
location    object
first       object
last        object
title       object
gross        int64
regular     object
overtime    object
other       object
dtype: object

AttributeError: ignored