<a href="https://colab.research.google.com/github/Sinchiguano/chicagoUniversity/blob/main/week_3_1_features_and_basis_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# from sklearn.linear_model import LinearRegression
# import numpy as np
# import matplotlib.pyplot as plt

# import seaborn as sns


import pandas as pd

url='https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/salary_2015.csv'
df = pd.read_csv(url)

print(df.head(3))
print(df['gross'].dtypes)


print('//////////////////////////////')

df['gross'] = df['gross'].str.replace(',', '')
df['gross'] = df['gross'].astype(int)
print(df['gross'].dtypes)

   year  location       first   last           title    gross  regular  \
0  2015  Berkeley        ANNE  AABOE   BUS SYS ANL 4  124,454  124,454
1  2015  Berkeley       DAVID  AAKER  RECALL FACULTY    2,500        0
2  2015  Berkeley   ELIZABETH   ABEL         PROF-AY  138,775  138,775

  overtime  other
0        0      0
1        0  2,500
2        0      0
object
//////////////////////////////
int64

In [22]:
from re import M
meanSalaries=pd.DataFrame(df.groupby('title')['gross'].mean().reset_index(name='mean').sort_values(['mean'],ascending=False))
print(meanSalaries.head(6))
print(meanSalaries.shape)
print(meanSalaries.dtypes)
print(type(meanSalaries))



print('//////////////////////////////')
# meanSalaries=pd.DataFrame(df.groupby(['title'])['gross'].mean())
# print(meanSalaries.head(3))
# print(meanSalaries.shape)
# print(meanSalaries.dtypes)

                               title       mean
594                     CHF INV OFCR  1106688.0
2624  SR MGN DIR FIXED INCOME ASSETS  1016853.0
583                      CEO MED CTR   910590.0
1185               EXEC VP UC HEALTH   786745.0
2958                 VC AND DEAN SOM   634752.0
827                      COO MED CTR   609592.2
(3052, 2)
title     object
mean     float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
//////////////////////////////